<div class="bg-black">

    <!-- Image -->
    <div>
        <div class="text-center">
            <img style="width:100%; background-size: cover;" src="/content/Pictures/Countdowns/AirForce.jpg" />
        </div>
    </div>
</div>