<div style="padding-left: 15px; padding-right: 15px;">
    <img style="width: 80px; height: 80px;" src="~/Content/Svg/Site/Turkey.Svg" /> <img style="width: 60px; height: 60px;" src="~/Content/Svg/Site/Pumpkin.svg" />
    <h2>Thanksgiving Day</h2>
    <br />
    <p class="text-black;">
        Thanksgiving Day is a national holiday celebrated in Canada, the United States, some of the Caribbean islands, and Liberia. It began as a day of giving thanks for the blessing of the harvest and of the preceding year. Similarly named festival holidays occur in Germany and Japan. Thanksgiving is celebrated on the second Monday of October in Canada and on the fourth Thursday of November in the United States, and around the same part of the year in other places. Although Thanksgiving has historical roots in religious and cultural traditions, it has long been celebrated as a secular holiday as well.
    </p>
    <p class="text-black;">
        In the United States, the modern Thanksgiving holiday tradition is traced to a sparsely documented 1621 celebration at Plymouth in present-day Massachusetts, and also to a well recorded 1619 event in Virginia. The 1621 Plymouth feast and thanksgiving was prompted by a good harvest. Pilgrims and Puritans who began emigrating from England in the 1620s and 1630s carried the tradition of Days of Fasting and Days of Thanksgiving with them to New England. The 1619 arrival of 38 English settlers at Berkeley Hundred in Charles City County, Virginia, concluded with a religious celebration as dictated by the group's charter from the London Company, which specifically required "that the day of our ships arrival at the place assigned ... in the land of Virginia shall be yearly and perpetually kept holy as a day of thanksgiving to Almighty God.
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;">
        <button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Thanksgiving')">More...(Wikipedia)</button>
    </h6>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_Holidays" />

