<div style="padding: 15px;">
    <h2>The US Marine Corps Birthday!</h2>
    <br />
    <p class="text-black;">
        The official birthday of the United States Marine Corps is on 10 November 1775. That was the day when the Second Continental Congress established the Continental Marines with the following decree:
    </p>
    <p class="text-black;">
        “That two battalions of Marines be raised consisting of one Colonel, two lieutenant-colonels, two majors and other officers, as usual in other regiments; that they consist of an equal number of privates as with other battalions, that particular care be taken that no persons be appointed to offices, or enlisted into said battalions, but such as are good seamen, or so acquainted with maritime affairs as to be able to serve for and during the present war with Great Britain and the Colonies; unless dismissed by Congress; that they be distinguished by the names of the First and Second Battalions of Marines.”
    </p>
    <p class="text-black;">
        Tun Tavern, in Philadelphia, Pennsylvania, is regarded as the birthplace of the Corps as the location of the first Marines to enlist under Commandant Samuel Nicholas, though it is disputed if a recruiting drive may have occurred earlier at Nicholas's family tavern, the Conestoga Waggon. When the Revolutionary War ended in 1783, the Continental Navy was disestablished, and with it, the Continental Marines. The Corps was re-established on 11 July 1798, when the "act for establishing and organizing a Marine Corps" was signed by President John Adams
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/U.S._Army_Birthdays')">More...(Wikipedia)</button></h6>    
</div>

<!-- More Birthday Choices -->
<partial name="Aside/Menus/_Birthdays" />

