<div style="padding: 15px;">
    <h2>Independence Day</h2>
    <br />
    <p class="text-black;">
        Independence Day (colloquial: the Fourth of July; July Fourth; the Fourth) is a federal holiday in the United States commemorating the adoption of the Declaration of Independence on July 4, 1776. The Continental Congress declared that the thirteen American colonies regarded themselves as free and independent states, the United States of America, and were no longer connected to the British Crown. The Congress actually voted to declare independence two days earlier, on July 2.
    </p>
    <p class="text-black;">
        Marked by patriotic displays and similar to other summer-themed events, Independence Day celebrations often take place outdoors. Families often celebrate Independence Day by hosting or attending a picnic or barbecue; many take advantage of the day off and, in some years, a long weekend to gather with relatives or friends. Decorations (e.g., streamers, balloons, and clothing) are generally colored red, white, and blue, the colors of the American flag. Parades are often held in the morning, before family get-togethers, while fireworks displays occur in the evening after dark at such places as parks, fairgrounds, or town squares.
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Independence_Day_(United_States)')">More...(Wikipedia)</button></h6>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_Holidays" />

