<div style="padding: 15px;">
    <h2>The US Army's Birthday!</h2>
    <br />
    <p class="text-black;">
        The U.S. Army was founded on June 14, 1775, when the Continental Congress authorized enlistment of riflemen to serve the United Colonies for one year.
    </p>
    <h5></h5>
    <p class="text-black;">
        The 14 June date is when Congress adopted "the American continental army" after reaching a consensus position in The Committee of the Whole. This procedure and the desire for secrecy account for the sparseness of the official journal entries for the day. The record indicates only that Congress undertook to raise ten companies of riflemen, approved an enlistment form for them, and appointed a committee (including Washington and Schuyler) to draft rules and regulations for the government of the army. The delegates' correspondence, diaries, and subsequent actions make it clear that they really did much more. They also accepted responsibility for the existing New England troops and forces requested for the defense of the various points in New York. The former were believed to total 10,000 men; the latter, both New Yorkers and Connecticut men, another 5,000.
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/U.S._Army_Birthdays')">More...(Wikipedia)</button></h6>
</div>

<!-- More Birthday Choices -->
<partial name="Aside/Menus/_Birthdays" />

