<div style="padding-left: 15px; padding-right: 15px;">
    <h2>Mother's Day</h2>
    <br />
    <p class="text-black;">
        Mother's Day is a celebration honoring the mother of the family, as well as motherhood, maternal bonds, and the influence of mothers in society. It is celebrated on various days in many parts of the world, most commonly in the months of March or May. It complements similar celebrations honoring family members, such as Father's Day, Siblings Day, and Grandparents Day.
    </p>
    <p class="text-black;">
        The modern holiday of Mother's Day was first celebrated in 1908, when Anna Jarvis held a memorial for her mother at St Andrew's Methodist Church in Grafton, West Virginia. St Andrew's Methodist Church now holds the International Mother's Day Shrine.[10] Her campaign to make Mother's Day a recognized holiday in the United States began in 1905, the year her mother, Ann Reeves Jarvis, died. Ann Jarvis had been a peace activist who cared for wounded soldiers on both sides of the American Civil War, and created Mother's Day Work Clubs to address public health issues. Anna Jarvis wanted to honor her mother by continuing the work she started and to set aside a day to honor all mothers because she believed a mother is "the person who has done more for you than anyone in the world".
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('')">More...(Wikipedia)</button></h6>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_Holidays" />
