<<div style="padding: 15px;">
    <h2>Cannabis in Illinois</h2>
    <br />
    <p class="text-black;">
        Countdown until Cannabis Legalization in Illinois for Recreational Useage.
    </p>
    <p class="text-black;">
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Cannabis_in_Illinois')">More...(Wikipedia)</button></h6>
 </div>

<!-- More Choices -->
<partial name="Aside/Menus/_Holidays" />

