<div style="padding: 15px;">
    <h2>Veteran's Day</h2>
    <br />
    <p class="text-black;">
        Veterans Day is an official United States public holiday, observed annually on November 11, that honors military veterans; that is, persons who served in the United States Armed Forces. It coincides with other holidays, including Armistice Day and Remembrance Day, celebrated in other countries that mark the anniversary of the end of World War I; major hostilities of World War I were formally ended at the 11th hour of the 11th day of the 11th month of 1918, when the Armistice with Germany went into effect. The United States previously observed Armistice Day. The U.S. holiday was renamed Veterans Day in 1954.
    </p>
    <p style="color: darkred;">
        ADDRESS TO FELLOW-COUNTRYMEN<br />
        The White House, November 11, 1919.
    </p>
    <p style="color: darkred;">
        "A year ago today our enemies laid down their arms in accordance with an armistice which rendered them impotent to renew hostilities, and gave to the world an assured opportunity to reconstruct its shattered order and to work out in peace a new and juster set of international relations. The soldiers and people of the European Allies had fought and endured for more than four years to uphold the barrier of civilization against the aggressions of armed force. We ourselves had been in the conflict something more than a year and a half."
    </p>
    <p style="color: darkred;">
        "With splendid forgetfulness of mere personal concerns, we remodeled our industries, concentrated our financial resources, increased our agricultural output, and assembled a great army, so that at the last our power was a decisive factor in the victory. We were able to bring the vast resources, material and moral, of a great and free people to the assistance of our associates in Europe who had suffered and sacrificed without limit in the cause for which we fought."
    </p>
    <p style="color: darkred;">
        "Out of this victory there arose new possibilities of political freedom and economic concert. The war showed us the strength of great nations acting together for high purposes, and the victory of arms foretells the enduring conquests which can be made in peace when nations act justly and in furtherance of the common interests of men."
    </p>
    <p style="color: darkred;">
        "To us in America the reflections of Armistice Day will be filled with solemn pride in the heroism of those who died in the country’s service, and with gratitude for the victory, both because of the thing from which it has freed us and because of the opportunity it has given America to show her sympathy with peace and justice in the councils of nations."
    </p>
    <p style="color: darkred;">
        WOODROW WILSON
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Veterans_Day')">More...(Wikipedia)</button></h6>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_Holidays" />

