<div id="my-menu" class="my-menu" style="margin: 0;" role="contentinfo" aria-label="Site menu" style="margin-top: -15px; color: black">

    <div class="gradient-gold">
        <br />
        <h2 style="padding-left: 20px;">Animated Snow 4<img style="width: 80px; height: 80px" src="~/Content/Svg/Alone.svg" /></h2>
        <br />
    </div>

    <br />
    <p style="padding: 15px">This animation uses "canvas".</p>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_SnowAnimation" />