@{
    string category = ViewBag.Message;
    int imageCount = Directory.GetFiles("wwwroot/content/pictures/" + category + "/", "*" + ".jpg").Length;
}

<div style="padding: 15px;">
    <h2>NSFW</h2>
    <br />
    <p style="padding-left:20px; color: black; font-size: 18px; font-weight:400;">
        A collection of @imageCount NSFW humorous images from the Internet.
    </p>
</div>

<!-- More Humor Choices -->
<br />
<div id="my-menu" class="my-menu" style="margin: 0;" role="contentinfo" aria-label="Site menu">
    <div class="gradient-gold">
        <h5 style="padding: 0 0 0 15px"><img style="width: 38px; height: 36px" src="~/Content/Svg/Site/Humor.svg" />  More Humor...</h5>

        <div class="my-menu-group-pictures" style="padding:0 0 0 15px;" data-metrics-category="Page Menu" data-metrics-label="Menu">
            <div class="my-menu-item-pictures">
                <h6 class="my-menu-header" style="min-width:320px;"><a class="nav-link" href="~/pictures/Cartoons">Cartoons</a></h6>
            </div>
            <div class="my-menu-item-pictures">
                <h6 class="my-menu-header" style="min-width:320px;"><a class="nav-link" href="~/pictures/Jokes">Steve's Jokes</a></h6>
            </div>
            <div class="my-menu-item-pictures">
                <h6 class="my-menu-header" style="min-width:320px;"><a class="nav-link" href="~/pictures/Memes">Bridget's Memes</a></h6>
            </div>
            @*<div class="my-menu-item-pictures">
                <h6 class="my-menu-header"><a class="nav-link" href="~/pictures/Political">Political</a></h6>
            </div>*@
            @*<div class="my-menu-item-pictures">
                <h6 class="my-menu-header"><a class="nav-link" href="~/pictures/NSFW">NSFW</a></h6>
            </div>*@
        </div>

    </div>
</div>