<div style="margin-top: -15px; color: black">
    <div class="gradient-gold">
        <br />
        <h2 style="padding-left: 20px;">Animated Snow 1<img style="width: 80px; height: 80px" src="~/Content/Svg/Alone.svg" /></h2>
        <br />
    </div>
    <br />
    <p style="padding: 15px">This animation follows the direction of the mouse like wind.</p>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_SnowAnimation"/>