<div style="padding: 15px;">
    <img style="text-align: center; width: 80px; height: 80px;" src="~/Content/Svg/Site/Jack-O-Lantren.svg" />
    <h2>Halloween</h2>
    <br />
    <p class="text-black;">
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Halloween')">More...(Wikipedia)</button></h6>
</div>

<!-- More Holiday Choices -->
<partial name="Aside/Menus/_Holidays" />
