<div style="padding: 15px;">
    <h2>George Washington's Birthday</h2>
    <br />
    <p class="text-black;">
        Washington's Birthday is a United States federal holiday celebrated on the third Monday of February in honor of George Washington, the first President of the United States, who was born on February 22, 1732. Since the Uniform Federal Holidays Act of 1971, its observance can occur between February 15 and February 21 inclusive. Colloquially, the day is also now widely known as Presidents' Day and is often an occasion to honor the incumbent president and all persons who have served as president, not just George Washington. The day is a state holiday in most states, with official names including Washington's Birthday, Presidents' Day, President's Day, and Washington's and Lincoln's Birthday. Depending upon the specific law, the state holiday might officially celebrate Washington alone, Washington and Abraham Lincoln (whose birthday is February 12), or some other combination of U.S. presidents (such as Washington and the third president Thomas Jefferson, who was born in April).
    </p>
    <h5></h5>
    <p class="text-black;">
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Washington%27s_Birthday')">More...(Wikipedia)</button></h6>
</div>

<!-- More Birthday Choices -->
<partial name="Aside/Menus/_Birthdays" />

