<div style="padding: 15px;">
    <img style="width: 50px; height: 50px;" src="~/Content/Svg/Site/Egg1.svg" /><img style="width: 80px; height: 80px;" src="~/Content/Svg/Site/Egg2.svg" /><img style="width: 50px; height: 50px;" src="~/Content/Svg/Site/Egg4.svg" />

    <h2>Easter</h2>
    <br />
    <p class="text-black;">
        The most widely accepted theory of the origin of the term Easter is that it is derived from the name of an Old English goddess mentioned by the 7th to 8th-century English monk Bede, who wrote that Ēosturmōnaþ (Old English 'Month of Ēostre', translated in Bede's time as "Paschal month") was an English month, corresponding to April, which he says "was once called after a goddess of theirs named Ēostre, in whose honour feasts were celebrated in that month".
    </p>
    <p class="text-black;">
        In Latin and Greek, the Christian celebration was, and still is, called Pascha (Greek: Πάσχα), a word derived from Aramaic פסחא (Paskha), cognate to Hebrew פֶּסַח (Pesach). The word originally denoted the Jewish festival known in English as Passover, commemorating the Jewish Exodus from slavery in Egypt. In most of the non-English speaking world, the feast is known by names derived from Greek and Latin Pascha.
    </p>
    <p class="text-black;">
        In countries where Christianity is a state religion, or where the country has large Christian population, Easter is often a public holiday. As Easter is always a Sunday, many countries in the world also have Easter Monday as a public holiday. Some retail stores, shopping malls, and restaurants are closed on Easter Sunday. Good Friday, which occurs two days before Easter Sunday, is also a public holiday in many countries, as well as in 12 U.S. states. Even in states where Good Friday is not a holiday, many financial institutions, stock markets, and public schools are closed. Few banks that are normally open on regular Sundays are closed on Easter.
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Easter')">More...(Wikipedia)</button></h6>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_Holidays" />
