<<div style="padding: 15px;">
    <h2>Father's Day</h2>
    <br />
    <p class="text-black;">
        Father's Day is a celebration honoring fathers and celebrating fatherhood, paternal bonds, and the influence of fathers in society. In Catholic Europe, it has been celebrated on March 19 (St. Joseph's Day) since the Middle Ages. This celebration was brought by the Spanish and Portuguese to Latin America, where March 19 is often still used for it, though many countries in Europe and the Americas have adopted the U.S. date, which is the third Sunday of June. It is celebrated on various days in many parts of the world, most commonly in the months of March, April and June. It complements similar celebrations honoring family members, such as Mother's Day, Siblings Day, and Grandparents' Day.
    </p>
    <p class="text-black;">
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Father%27s_Day')">More...(Wikipedia)</button></h6>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_Holidays" />

