<div style="padding: 15px;">
    <img style="width: 60px; height: 60px;" src="~/Content/Svg/Site/Elf1.Svg" /><img style="width: 80px; height: 80px;" src="~/Content/Svg/Site/Santa1.Svg" />
    <h2>Christmas Day</h2>
    <br />
    <p class="text-black;">
        The celebratory customs associated in various countries with Christmas have a mix of pre-Christian, Christian, and secular themes and origins. Popular modern customs of the holiday include gift giving, completing an Advent calendar or Advent wreath, Christmas music and caroling, lighting a Christingle, viewing a Nativity play, an exchange of Christmas cards, a special meal, and the display of various Christmas decorations, including Christmas trees, Christmas lights, nativity scenes, garlands, wreaths, mistletoe, and holly. In addition, several closely related and often interchangeable figures, known as Santa Claus, Father Christmas, Saint Nicholas, and Christkind, are associated with bringing gifts to children during the Christmas season and have their own body of traditions and lore. Because gift-giving and many other aspects of the Christmas festival involve heightened economic activity, the holiday has become a significant event and a key sales period for retailers and businesses. The economic impact of Christmas has grown steadily over the past few centuries in many regions of the world.
    </p>
    <p class="text-black;">
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Christmas')">More...(Wikipedia)</button></h6>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_Holidays" />
