<div style="padding: 15px;">
    <h4>About Humor...</h4>
    <p style="padding: 15px 0 0 20px; color: black; font-size: 18px; font-weight:400;">
        A growing collection of often humorous images from our friends on the InterWeb.
    </p>
</div>