<<div style="padding: 15px;">
    <h2>The US Navy's Birthday!</h2>
    <br />
    <p class="text-black;">
        Commander in Chief George Washington resolved the debate when he commissioned the ocean-going schooner USS Hannah to interdict British merchant ships, and reported the captures to the Congress. On 13 October 1775, the Continental Congress authorized the purchase of two vessels to be armed for a cruise against British merchant ships; this resolution created the Continental Navy and is considered the first establishment of the U.S. Navy.
    </p>
    <h5></h5>
    <p class="text-black;">
        The U.S. Navy traces its origins to the Continental Navy, which was established during the American Revolutionary War and was effectively disbanded as a separate entity shortly thereafter. The U.S. Navy played a major role in the American Civil War by blockading the Confederacy and seizing control of its rivers. It played the central role in the World War II defeat of Imperial Japan. The 21st century U.S. Navy maintains a sizable global presence, deploying in strength in such areas as the Western Pacific, the Mediterranean, and the Indian Ocean. It is a blue-water navy with the ability to project force onto the littoral regions of the world, engage in forward deployments during peacetime and rapidly respond to regional crises, making it a frequent actor in U.S. foreign and military policy.
    </p>
    <p class="text-black;">
        The Navy is administratively managed by the Department of the Navy, which is headed by the civilian Secretary of the Navy. The Department of the Navy is itself a division of the Department of Defense, which is headed by the Secretary of Defense. The Chief of Naval Operations (CNO) is the most senior naval officer serving in the Department of the Navy.
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/United_States_Navy')">More...(Wikipedia)</button></h6>
</div>

<!-- More Birthday Choices -->
<partial name="Aside/Menus/_Birthdays" />

