<div style="padding: 15px;">
    <img style="text-align: center; width: 150px; height: 80px;" src="~/Content/Svg/Site/Sunglasses.svg" />
    <h4>Days until Summer starts</h4>
    <br />
    <p class="text-black;">
        Summer is one of the four conventional temperate seasons, following Spring and preceding Autumn. There are various technical definitions of Summer, but usage of the term varies according to local climate, cultures and customs. When it is Summer in the Northern Hemisphere, it is Winter in the Southern Hemisphere and vice versa.
    </p>
    <h5>Meteorological reckoning</h5>
    <p class="text-black;">
        Summer can start on different dates in different regions. Meteorologists generally define four seasons in varying climatic areas: Spring, Summer, Autumn (Fall), and Winter, with each season lasting three months. The three warmest months are Summer, the three coldest months are Winter and the intervening gaps are Spring and Autumn. Summer can start on different dates in different regions. Thus, in the US and UK, Summer months are June, July and August, while in New Zealand and Australia, Summer months are December, January, and February.
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" style="text-shadow: none;" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Summer')">More...(Wikipedia)</button></h6>
</div>

<!-- More Season Choices -->
<br />
<div id="my-menu" class="my-menu" style="margin: 0;" role="contentinfo" aria-label="Site menu">
    <div class="gradient-gold">
        <h5 style="padding: 0 0 0 15px;">More Seasons...</h5>
        <div class="my-menu-group-pictures" style="padding:0 0 0 15px;" data-metrics-category="Page Menu" data-metrics-label="Menu">
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Spring">Spring</a></div>
            </div>
            @*<div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Summer">Summer</a></div>
            </div>*@
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Autumn">Autumn (Fall)</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Winter">Winter</a></div>
            </div>
        </div>
    </div>
</div>