<div style="padding: 15px;">
    <h2>Election Day</h2>
    <br />
    <p class="text-black">
        The 2020 United States presidential election, scheduled for Tuesday, November 3, 2020, will be the 59th quadrennial U.S. presidential election. Voters will select presidential electors who in turn on December 14, 2020, will either elect a new president and vice president or re-elect the incumbents.
    </p>
    <p class="text-black">
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/2020_United_States_presidential_election')">More...(Wikipedia)</button></h6>
    <br />
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_Holidays" />

