<div style="padding-left: 15px; padding-right: 15px;">
    <h2>Memorial Day</h2>
    <br />
    <p class="text-black;">
        Memorial Day or Decoration Day is a federal holiday in the United States for remembering the people who died while serving in the country's armed forces. The holiday is currently observed every year on the last Monday of May.
    </p>
    <h5></h5>
    <p class="text-black;">
        Many people visit cemeteries and memorials, particularly to honor those who have died in military service. Many volunteers place an American flag on each grave in national cemeteries.
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Memorial_Day')">More...(Wikipedia)</button></h6>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_Holidays" />

