<div style="padding: 15px;">
    <h4>Days until Spring starts</h4>
    <br />
    <p class="text-black;">
        Spring is one of the four conventional temperate seasons, following Winter and preceding Summer. There are various technical definitions of Spring, but usage of the term varies according to local climate, cultures and customs. When it is Spring in the Northern Hemisphere, it is Autumn in the Southern Hemisphere and vice versa.
    </p>
    <h5>Meteorological reckoning</h5>
    <p class="text-black;">
        Spring can start on different dates in different regions. Meteorologists generally define four seasons in varying climatic areas: Spring, Summer, Autumn (Fall), and Winter, with each season lasting three months. The three warmest months are Summer, the three coldest months are Winter and the intervening gaps are Spring and Autumn. Spring can start on different dates in different regions. Thus, in the US and UK, Spring months are March, April and May, while in New Zealand and Australia, Spring months are September, October, and November.
    </p>
    <h6 style="font-size: 12px; padding: 0; margin: 0;"><button title="Reference" style="text-shadow: none;" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Spring_(season)')">More...(Wikipedia)</button></h6>
</div>

<!-- More Season Choices -->
<br />
<div id="my-menu" class="my-menu" style="margin: 0;" role="contentinfo" aria-label="Site menu">
    <div class="gradient-gold">
        <h5 style="padding: 0 0 0 15px;">More Seasons...</h5>
        <div class="my-menu-group-pictures" style="padding:0 0 0 15px;" data-metrics-category="Page Menu" data-metrics-label="Menu">
            @*<div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Spring">Spring</a></div>
            </div>*@
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Summer">Summer</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Autumn">Autumn (Fall)</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Winter">Winter</a></div>
            </div>
        </div>
    </div>
</div>