<div style="padding-left: 15px; padding-right: 15px;">
    <h2>Presidents Day</h2>
    <br />
    <p class="text-black;">
        Presidents Day evolved from the celebration of George Washington's Birthday to a celebration of all past Presidents.
    </p>
    <p class="text-black;">
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Washington%27s_Birthday')">More...(Wikipedia)</button></h6>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_Holidays" />

