<div style="padding: 15px;">
    <h2>Thomas Jefferson's Birthday!</h2>
    <br />
    <p class="text-black;">
        Jefferson's Birthday officially honors the birth of the third U.S. president, Thomas Jefferson on April 13, 1743. This day was recognized by Franklin D. Roosevelt as part of Presidential Proclamation 2276, issued on March 21, 1938.
    </p>
    <p class="text-black;">
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Jefferson%27s_Birthday')">More...(Wikipedia)</button></h6>
</div>

<!-- More Birthday Choices -->
<partial name="Aside/Menus/_Birthdays" />

