<<div style="padding: 15px;">
    <h2>Abraham Lincolin's Birthday!</h2>
    <br />
    <p class="text-black;">
        Lincoln's Birthday is a legal, public holiday in some U.S. states, observed on the anniversary of Abraham Lincoln's birth on February 12, 1809, in Hodgensville, Kentucky.[1] Connecticut,[2] Illinois,[3] Indiana,[4] Ohio, Missouri, and New York observe the holiday.
    </p>
    <p style="color:black;">
        In other states, Lincoln's birthday is not celebrated separately, as a stand-alone holiday. Instead Lincoln's Birthday is combined with a celebration of President George Washington's birthday (also in February) and celebrated either as Washington's Birthday or as Presidents' Day on the third Monday in February, concurrent with the federal holiday. The earliest known observance of Lincoln's birthday occurred in Buffalo, New York, in either 1873 or 1874. Julius Francis (d. 1881), a Buffalo druggist, made it his life's mission to honor the slain president. He repeatedly petitioned Congress to establish Lincoln's birthday as a legal holiday.[5]
    </p>
    <h5></h5>
    <p class="text-black;">
        The day is marked by traditional wreath-laying ceremonies at Abraham Lincoln Birthplace National Historic Site in Hodgenville, Kentucky, and at the Lincoln Memorial in Washington, D.C.. The latter has been the site of a ceremony ever since the Memorial was dedicated. Since that event in 1920, observances continue to be organized by the Lincoln Birthday National Commemorative Committee and by the Military Order of the Loyal Legion of the United States (MOLLUS). A wreath is laid on behalf of the President of the United States, a custom also carried out at the grave sites of all deceased U.S. presidents on their birthdays. Lincoln's tomb is in Springfield, Illinois.
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/Lincoln%27s_Birthday')">More...(Wikipedia)</button></h6>
</div>

<!-- More Birthday Choices -->
<partial name="Aside/Menus/_Birthdays" />

