<div style="padding-left: 15px; padding-right: 15px;">
    <h2>New Year's Day</h2>
    <br />
    <p class="text-black;">
        New Year's Day is probably the most celebrated public holiday, often observed with fireworks at the stroke of midnight as the new year starts in each time zone. Other global New Year's Day traditions include making New Year's resolutions and calling one's friends and family.
    </p>
    <p class="text-black;">
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/New_Year%27s_Day')">More...(Wikipedia)</button></h6>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_Holidays" />
