<<div style="padding: 15px;">
    <h2>The US National Guard Birthday!</h2>
    <br />
    <p class="text-black;">
        The first muster of militia forces in what is today the United States took place on September 16, 1565, in the newly established Spanish military town of St. Augustine. Appropriately enough, this muster occurred in the shadow of an oncoming hurricane. The militia men were assigned to guard the expedition's supplies while their leader, Pedro Menéndez de Avilés, took the regular troops north to attack the French settlement at Fort Caroline on the St. Johns River. This Spanish militia tradition and the English tradition that would be established to the north would provide the basic nucleus for Colonial defense in the New World.
    </p>
    <p class="text-black;">
        The militia tradition continued with the first permanent English settlements in the New World. Jamestown Colony (established in 1607) and Plymouth Colony (established in 1620) both had militia forces, which initially consisted of every able bodied adult male. By the mid-1600s every town had at least one militia company (usually commanded by an officer with the rank of captain) and the militia companies of a county formed a regiment (usually commanded by an officer with the rank of major in the 1600s or a colonel in the 1700s).
    </p>
    <p class="text-black;">
        In 1903, with passage of the Dick Act, the predecessor to the modern-day National Guard was formed. It required the states to divide their militias into two sections. The law recommended the title "National Guard" for the first section, known as the organized militia, and "Reserve Militia" for all others.
    </p>
    <p class="text-black;">
        During World War I, Congress passed the National Defense Act of 1916, which required the use of the term "National Guard" for the state militias and further regulated them. Congress also authorized the states to maintain Home Guards, which were reserve forces outside the National Guards being deployed by the Federal Government.
    </p>
    <p class="text-black;">
        In 1933, with passage of the National Guard Mobilization Act, Congress finalized the split between the National Guard and the traditional state militias by mandating that all federally funded soldiers take a dual enlistment/commission and thus enter both the state National Guard and the National Guard of the United States, a newly created federal reserve force. The National Defense Act of 1947 created the Air Force as a separate branch of the Armed Forces and concurrently created the
    </p>
    <p class="text-black;">
        The claim that the National Guard is older than the nation itself, with over three and a half centuries of service, is based on the claim that the modern-day 101st Field Artillery Regiment, 182nd Infantry Regiment, 101st Engineer Battalion and 181st Infantry Regiment of the Massachusetts Army National Guard are directly descended from Massachusetts Bay Colony regiments formed over 375 years ago. On <strong>December 13, 1636</strong>, the General Court of the Massachusetts Bay Colony had ordered that the Colony's scattered militia companies be organized into North, South and East Regiments—with a goal of increasing the militias' accountability to the colonial government, efficacy, and responsiveness in conflicts with indigenous Pequot Indians. Under this act, white males between the ages of 16 and 60 were obligated to possess arms and to take part in the defense of their communities by serving in nightly guard details and participating in weekly drills. The founding date of 1636 refers to service of the colonial government; the Massachusetts Bay Colony regiments were formed by reorganizing local militias that preceded the 1636 date and dated back to the founding dates of the various Massachusetts towns of the time.
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/National_Guard_of_the_United_States')">More...(Wikipedia)</button></h6>
</div>

<!-- More Choices -->
<partial name="Aside/Menus/_Birthdays" />

