<div style="padding: 15px;">
    <h2>The US Air Force's Birthday!</h2>
    <br />
    <p class="text-black;">
        Initially established as a part of the United States Army on 1 August 1907, the USAF was formed as a separate branch of the U.S. Armed Forces on 18 September 1947 with the passing of the National Security Act of 1947. It is the youngest branch of the U.S. Armed Forces, and the fourth in order of precedence. The USAF is the largest and most technologically advanced air force in the world.
    </p>
    <h5></h5>
    <p class="text-black;">
        The United States Air Force will be a trusted and reliable joint partner with our sister services known for integrity in all of our activities, including supporting the joint mission first and foremost. We will provide compelling air, space, and cyber capabilities for use by the combatant commanders. We will excel as stewards of all Air Force resources in service to the American people, while providing precise and reliable Global Vigilance, Reach and Power for the nation.
    </p>
    <h6 class="text-black text-end p-0 m-0" style="font-size: 12px;"><button title="Reference" id="newTab" onclick="newTab('https://en.wikipedia.org/wiki/United_States_Air_Force')">More...(Wikipedia)</button></h6>
</div>

<!-- More Birthday Choices -->
<partial name="Aside/Menus/_Birthdays" />
