<div class="row" style=" margin: 0; padding-top: 10px; padding-right: 10px; background-color: black;">
    <!-- Left side -->
    <div class="col-12 col-md-5">
        <!-- Poem... -->
        <h4 style="margin-top: 0px; margin-bottom: 30px; text-align: center; color: white;"><button id="newTab" style="color: chocolate;" onclick="newTab('https://en.wikipedia.org/wiki/Blind_men_and_an_elephant')">The parable of the blind<br /> men and the elephant</button></h4>
        <h6 style="text-align: center; color: blanchedalmond; font-weight: 400; padding-left: 10px;">A Poem by <button id="newTab" style="color: chocolate;" onclick="newTab('https://en.wikisource.org/wiki/Author:John_Godfrey_Saxe')">John Godfrey Saxe</button></h6>
        <br />

        <div class="text-body">

            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">It was six men of Indostan</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">To learning much inclined,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Who went to see the Elephant</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">(Though all of them were blind),</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">That each by observation</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Might satisfy his mind.</h6>
            <br />

            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">The First approached the Elephant,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">And happening to fall</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Against his broad and sturdy side,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">At once began to bawl:</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">"God bless me!—but the Elephant</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Is very like a wall!"</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;" />

            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">The Second, feeling of the tusk,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Cried: "Ho!—what have we here</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">So very round and smooth and sharp?</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">To me 't is mighty clear</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">This wonder of an Elephant</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Is very like a spear!"</h6>
            <br />

            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">The Third approached the animal,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">And happening to take</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">The squirming trunk within his hands,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Thus boldly up and spake:</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">"I see," quoth he, "the Elephant</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Is very like a snake!"</h6>
            <br />

            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">The Fourth reached out his eager hand,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">And felt about the knee.</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">"What most this wondrous beast is like</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Is mighty plain," quoth he;</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">"'T is clear enough the Elephant</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Is very like a tree!"</h6>
            <br />

            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">The Fifth who chanced to touch the ear,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Said: "E'en the blindest man</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Can tell what this resembles most:</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Deny the fact who can,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">This marvel of an Elephant</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Is very like a fan!"</h6>
            <br />

            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">The Sixth no sooner had begun</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">About the beast to grope,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Than, seizing on the swinging tail</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">That fell within his scope,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">"I see," quoth he, "the Elephant</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Is very like a rope!";</h6>
            <br />

            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">And so these men of Indostan</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Disputed loud and long,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Each in his own opinion</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Exceeding stiff and strong,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Though each was partly in the right,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">And all were in the wrong!</h6>
            <br />

            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">MORAL</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">So, oft in theologic wars,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">The disputants, I ween,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Rail on in utter ignorance</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Of what each other mean,</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">And prate about an Elephant</h6>
            <h6 style="color: blanchedalmond; font-weight: 400; padding-left: 10px;">Not one of them has seen!</h6>
            <br />
        </div>
    </div>

    <!-- Right side -->
    <div class="col-12 col-md-7" style="padding-top: 0; text-align: center;" data-toggle="tooltip" title="Blind men and the elephant">
        <img id="countdown-Image" style="width: 100%;" src="/Content/PageImages/Elephant.jpg" alt="Elephant Image" />
    </div>
</div>
