<div class="row" style=" margin: 0; padding-top: 10px; padding-right: 10px; background-color: black;">
    <!-- Left side -->
    <div class="col-md-5">
        <partial name="_Elephant" />
    </div>

    <!-- Right side -->
    <div class="col-md-7" style="padding-top: 0; text-align: center;" data-toggle="tooltip" title="Blind men and the elephant">
        <img id="countdown-Image" style="width: 100%;" src="/Content/PageImages/Elephant.jpg" alt="Elephant Image" />
    </div>
</div>
