<div id="my-menu" class="my-menu" style="margin: 0; background-color: chocolate; margin: 0;" role="contentinfo" aria-label="Site menu">

    <div class="gradient-gold">
        <br />
        <h2 style="padding-left: 20px;">Helpful Links <img style="width:80px; height: 80px;" src="~/Content/Svg/Site/Links.svg" /></h2>
        <br />
    </div>


    <div Class="my-menu-module-custom ps-3">
        <h6 class="my-menu-header-custom">Social</h6>
        <ul>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="http://twitter.com" target="_blank">Twitter</a>
            </li>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="http://instagram.com" target="_blank">Instagram</a>
            </li>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="http://facebook.com" target="_blank">Facebook</a>
            </li>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="http://Reddit.com" target="_blank">Reddit</a>
            </li>
            @*<li class="my-menu-item-custom">
                <a class="nav-link" onclick="newTab('http://www.judici.com/')">Ill. Judi Watch</a>
            </li>*@
        </ul>
    </div>

    <div Class="my-menu-module-custom ps-3">
        <h6 class="my-menu-header-custom">Utilities</h6>
        <ul>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="https://www.gieson.com/Library/projects/utilities/tuner/index.html" target="_blank">Guitar Tuner</a>
            </li>
           @* <li class="my-menu-item-custom">
                <a class="nav-link" href="newTab('https://www.unscramble.net/modules.php?name=Unscramble" target="_blank">Unscramble</a>
            </li>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="http://www.sevenwires.com/play/UpsideDownLetters.html" target="_blank">Upsidedown Typing</a>
            </li>*@
            <li class="my-menu-item-custom">
                <a class="nav-link" href="https://www.zamzar.com/" target="_blank">File Conversion</a>
            </li>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="https://bulkresizephotos.com/" target="_blank">Bulk Image Resizer</a>
            </li>
        </ul>
    </div>

    <div Class="my-menu-module-custom ps-3">
        <h6 class="my-menu-header-custom">Programming</h6>
        <ul>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="https://www.w3schools.com//" target="_blank">W3 Schools</a>
            </li>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="https://stackoverflow.com/" target="_blank">Stackoverflow</a>
            </li>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="https://developers.facebook.com/tools/debug/" target="_blank">FB Debugger</a>
            </li>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="http://converter.telerik.com/" target="_blank">Telrik Code Converter</a>
            </li>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="https://www.htmlcsscolor.com" target="_blank">Html CSS Color (Best)</a>
            </li>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="https://hashtagcolor.com/ff780f" target="_blank">Color Chart</a>
            </li>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="http://www.cssbuttongenerator.com/" target="_blank">CSS Button Generator</a>
            </li>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="https://lingojam.com/SuperscriptGenerator" target="_blank">Superscript Generator</a>
            </li>
           @* <li class="my-menu-item-custom">
                <a class="nav-link" href="http://aa.usno.navy.mil/data/docs/JulianDate.php" target="_blank">Julian Date Converter</a>
            </li>*@
            <li class="my-menu-item-custom">
                <a class="nav-link" href="http://www.iconninja.com/" target="_blank">Icon Ninja</a>
            </li>
            @*<li class="my-menu-item-custom">
                <a class="nav-link" href="newTab('https://inkscape.org/en/download/windows/" target="_blank">Inkscape - Svg Editor</a>
            </li>*@
           @* <li class="my-menu-item-custom">
                <a class="nav-link" href="newTab('https://www.uihere.com/" target="_blank">UI Here - Image finder</a>
            </li>*@
        </ul>
    </div>

    <div Class="my-menu-module-custom ps-3">
        <h6 class="my-menu-header-custom">Graphics</h6>
        <ul>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="~/Pictures/SvgFiles" target="_self">SVG Files</a>
            </li>
        </ul>
        <ul>
            <li class="my-menu-item-custom">
                <a class="nav-link" href="~/Pictures/Snow5" target="_self">Animated Snow</a>
            </li>
        </ul>
        <br />    
    </div>
</div>