<style>
    .nav-line {
        width: 200px;
    }
</style>

<!-- More Choices -->
<br />
<div id="my-menu" class="my-menu" style="margin: 0;" role="contentinfo" aria-label="Site menu">
    <div class="gradient-gold">
        <h5 style="padding: 0 0 0 15px">More...</h5>
        <div class="my-menu-group-pictures" style="padding:0 0 0 15px;" data-metrics-category="Page Menu" data-metrics-label="Menu">
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/NewYears">New Years</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/MartinLutherKing">M.L. King Jr</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Valentines">Valentine's</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Presidents">Presidents</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Easter">Easter</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Memorial">Memorial</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Mothers">Mother's</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Fathers">Father's</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Independence">Independence</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Labor">Labor</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Veterans">Veteran's</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Halloween">Halloween</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Thanksgiving">Thanksgiving</a></div>
            </div>
            <div class="my-menu-item-pictures">
                <div class="my-menu-header"><a class="nav-link" style="font-size:medium;" href="~/countdowns/Christmas">Christmas</a></div>
            </div>
        </div>
    </div>
</div>