<style>
    .bottom-spacing {
        height: 74px;
    }
</style>

<div class="bg-black">

    <!-- Image -->
    <div>
        <div style="text-align:center;">
            <img style="width:100%; background-size: cover;" src="/content/Pictures/backgrounds/000020-3.jpg" />
        </div>
    </div>

    <!-- Site Description -->
    <div id="description" style="text-align: center; line-height: 1.5; padding-top: 25px;">
        <p style="color:chocolate;">
            Do you feel like you are <br />
            Playing Chess with a Pigeon <br />
            when using your Business Software?<br />
            <br />
            Let <b>The Mikish Group</b> give you a better match!
        </p>
    </div>
    <div class="bottom-spacing bg-black"></div>
</div>