<style>
    .bottom-spacing {
        height: 72px;
    }

    .description {
        font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: chocolate;
    }
</style>

<div class="bg-black">

    <!-- Image -->
    <div>
        <div class="text-center">
            <img style="width:100%; background-size: cover;" src="/content/Pictures/backgrounds/BG-01.jpg" />
        </div>
    </div>

    <!-- Site Description lakeCatatoga.com -->
    <div Class="description text-center lh-sm" style="padding-top: 25px;">
        <p>
            <span class="text-nowrap" >Enjoy the Lake Life</span> <span class="text-nowrap" >at Lake Catatoga!</span>
            <br />
            <br />
        </p>
        <p class="fs-6">
            We hope you enjoy looking through the<br /> 
            images in the Photos and Humor sections!<br />
        </p>
    </div>

    <div class="bottom-spacing bg-black"></div>
</div>

