<style>
    .bottom-spacing {
        height: 60px;
    }

    .description {
        font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: chocolate;
    }
</style>

<div class="bg-black">

    <!-- Image -->
    <div>
        <div class="text-center">
            <img style="width:100%; background-size: cover;" src="/content/Pictures/backgrounds/BG-01.jpg" />
        </div>
    </div>

    @*<!-- Site Description Mikish.com -->
    <div id="description" style="text-align: center; line-height: 1.5; padding-top: 25px;">
        <p style="color:chocolate;">
            Do you feel like you are <br />
            Playing Chess with a Pigeon <br />
            when using your Business Software?<br />
            <br />
            Let <b>The Mikish Group</b> give you a better match!
        </p>
    </div>*@

    <!-- Site Description lakeCatatoga.com -->
    <div id="description" Class="text-center lh-sm" style="padding-top: 25px;">
        <p class="text-chocolate">
            <span class="text-nowrap" >Enjoy the Lake Life</span> <span class="text-nowrap" >at Scent Me!</span>
            <br />
            <br />
        </p>
        <p class="text-chocolate fs-6">
            We hope you enjoy looking through the<br /> 
            images in the Photos and Humor sections!<br />
        </p>
    </div>

    <div class="bottom-spacing bg-black"></div>
</div>

