<style>
    .bottom-spacing {
        height: 40px;
    }

    .description {
        font-family: "Knockout 31 4r", HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: chocolate;
    }
</style>

<div class="bg-black">

    <!-- Image -->
    <div>
        <div style="text-align:center;">
            <img style="width:100%; background-size: cover;" src="/Content/Pictures/backgrounds/Bg-02.jpg" />
        </div>
    </div>

    <!-- Site Description -->
    <div class="text-center bg-black px-3" style="padding-top: 25px;">
        <p class="description">
            <span class="text-nowrap">Do you feel like you are</span> <span class="text-nowrap">missing the Scent of Life?</span><br />
        </p>
        <p class="text-chocolate pb-0">
            Let Scent Me Help.
        </p>
    </div>
    <div class="bottom-spacing bg-black"></div>
</div>