<div id="my-menu" class="my-menu" style="background-color: chocolate; margin: 0;" role="contentinfo" aria-label="Site menu">
    <div class="gradient-gold">
        <br />
        <h2 style="padding-left: 20px; padding-bottom: 14px;">
            Humor <img style="height:90px; width:124px; margin-top:-10px;" src="~/Content/Svg/Site/Humor.svg" />
        </h2>
    </div>
    <br />
    <div class="my-menu-group-pictures" data-metrics-category="Page Menu" data-metrics-label="Menu">
        <div class="my-menu-item-pictures">
            <h6 class="my-menu-header" style="min-width:320px;"><a class="nav-link" href="~/pictures/Cartoons">Cartoons</a></h6>
        </div>        
        <div class="my-menu-item-pictures">
            <h6 class="my-menu-header" style="min-width:320px;"><a class="nav-link" href="~/pictures/Memes">Bridget's Memes</a></h6>
        </div>
        <div class="my-menu-item-pictures">
            <h6 class="my-menu-header" style="min-width:320px;"><a class="nav-link" href="~/pictures/Jokes">Steve's Old Joke Home</a></h6>
        </div>
        @*<div class="my-menu-item-pictures">
            <h6 class="my-menu-header"><a class="nav-link" href="~/pictures/NSFW">NSFW</a></h6>
        </div>*@
        @*<div class="my-menu-item-pictures">
        <h6 class="my-menu-header @choice02"><a class="nav-link" href="~/pictures/Political">Political</a></h6>
        </div>*@
    </div>
</div>