@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="my-menu" class="my-menu" style="margin: 0;" role="contentinfo" aria-label="Site menu">
    <div class="gradient-gold">
        <br />
        <h2 style="padding-left: 20px;">Photos <img style="width: 80px; height: 80px" src="~/Content/Svg/Site/Photos.svg" /></h2>
        <br />
    </div>
    <br />
    <div class="my-menu-group-pictures" data-metrics-category="Page Menu" data-metrics-label="Menu">
        <br />
        <div class="my-menu-item-pictures">
            <h6 class="my-menu-header"><a class="nav-link" href="~/pictures/Sunsets">Sunsets</a></h6>
        </div>
        <div class="my-menu-item-pictures">
            <h6 class="my-menu-header"><a class="nav-link" href="~/pictures/Fishing">Fishing</a></h6>
        </div>
        <div class="my-menu-item-pictures">
            <h6 class="my-menu-header"><a class="nav-link" href="~/pictures/Wildlife">Wildlife</a></h6>
        </div>
        <div class="my-menu-item-pictures">
            <h6 class="my-menu-header"><a class="nav-link" href="~/pictures/ScentMe">Scent Me</a></h6>
        </div>
    </div>
</div>