<div id="my-menu" class="my-menu" style="margin: 0;" role="contentinfo" aria-label="Site menu">

    <!-- Alone -->
    <div class="gradient-gold" style="padding-top:15px;">
        <h2 style="padding: 0 0 0 20px;">Svg Files <img style="width: 80px; height: 80px" src="~/Content/Svg/Alone.svg" /></h2>
    </div>

    <!-- SVG Menu -->
    <div class="my-menu-group" data-metrics-category="Page Menu" data-metrics-label="Menu" style="padding-left:10px; padding-top:15px">

        <!-- Site Svgs -->
        <div Class="my-menu-module-custom" style="padding:15px 0 15px 0;">
            <h6 class="my-menu-header-custom">Site Svg Files</h6>
            <ul>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Photos</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Photos.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Photos.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Sunsets</h5>
                    <a class="nav-link" href="../Content/Svg/Site/BlueSun.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/BlueSun.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Fishing</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Fishing.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Fishing.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Wildlife</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Wildlife.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Wildlife.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Humor</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Humor.Svg" target"_blank">
                        <img style="height:80px; width:124px;" src="~/Content/Svg/Site/Humor.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Bridget's Memes</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Memes.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Memes.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Old Jokes Home</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Retired.Svg" target"_blank">
                        <img style="height:80px; width:108px;" src="~/Content/Svg/Site/Retired.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Countdown Events</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Countdowns.Svg" target"_blank">
                        <img style="height:100px; width:100px;" src="~/Content/Svg/Site/Countdowns.Svg" />
                    </a>
                </li>
            </ul>
        </div>

        <!-- Controls -->
        <div Class="my-menu-module-custom" style="padding:15px 0 15px 0;">
            <h6 class="my-menu-header-custom">Controls</h6>
            <ul>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Home</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Home.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Home.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Info</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Info.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Info.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Previous</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Previous.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Previous.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Next</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Google_Square.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Next.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Links</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Links.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Links.Svg" />
                    </a>
                </li>
            </ul>

            <!-- Logos -->
            <h6 class="my-menu-header-custom">Logo Files</h6>
            <ul>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">GitHub Logo</h5>
                    <a class="nav-link" href="../Content/Svg/Site/GitHub.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/GitHub.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Google Logo</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Google_Square.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Google_Square.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Facebook Logos</h5>
                    <a class="nav-link" href="../Content/Svg/Site/FB_Home.Svg" target"_blank">
                        <img style="width:80px; height: 80px;" src="~/Content/Svg/Site/FB_Home.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <a class="nav-link" href="../Content/Svg/Site/FB_Round.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/FB_Round.SVG" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <a class="nav-link" href="../Content/Svg/Site/FB_Square.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/FB_Square.Svg" />
                    </a>
                </li>
            </ul>
        </div>

        <!-- Seasons -->
        <div Class="my-menu-module-custom" style="padding:15px 0 15px 0;">
            <h6 class="my-menu-header-custom">Seasons</h6>
            <ul>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Summer</h5>
                    <a class="nav-link" href="../Content/Svg/Site/SunGlasses.Svg" target"_blank">
                        <img style="height:80px; width:160px;" src="~/Content/Svg/Site/SunGlasses.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Autumn</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Autumn1.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Autumn1.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Autumn2.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Autumn2.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Autumn3.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Autumn3.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Autumn4.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Autumn4.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Winter</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Snowman.Svg" target"_blank">
                        <img style="height:80px; width:80px;" src="~/Content/Svg/Site/Snowman.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Blue_Snowman_003a.Svg" target"_blank">
                        <img style="Text-align: center; height:100px; width: 100px;" src="~/Content/Svg/Site/Blue_Snowman_003a.svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Snowflakes</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Snowflake1.Svg" target"_blank">
                        <img style="height:60px; width:60px;" src="~/Content/Svg/Site/Snowflake1.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Snowflake2.Svg" target"_blank">
                        <img style="height:60px; width:60px;" src="~/Content/Svg/Site/Snowflake2.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Snowflake3.Svg" target"_blank">
                        <img style="height:60px; width:60px;" src="~/Content/Svg/Site/Snowflake3.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Snowflake4.Svg" target"_blank">
                        <img style="height:60px; width:60px;" src="~/Content/Svg/Site/Snowflake4.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Snowflake5.Svg" target"_blank">
                        <img style="height:60px; width:60px;" src="~/Content/Svg/Site/Snowflake5.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Snowflake6.Svg" target"_blank">
                        <img style="height:60px; width:60px;" src="~/Content/Svg/Site/Snowflake6.Svg" />
                    </a>
                </li>
            </ul>
        </div>

        <!-- Holidays -->
        <div Class="my-menu-module-custom" style="padding-top:15px;">
            <h6 class="my-menu-header-custom">Holidays</h6>
            <ul>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Valentine</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Heart1.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Heart1.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Heart2.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Heart2.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Heart3.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Heart3.Svg" />
                    </a>
                </li>

                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Easter</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Egg1.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Egg1.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Egg2.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Egg2.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Egg3.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Egg3.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Egg4.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Egg4.Svg" />
                    </a>
                </li>

                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Holloween</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Jack-O-Lantren.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Jack-O-Lantren.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Bat1.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Bat1.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Bat2.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Bat2.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Bat3.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Bat3.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Bat4.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Bat4.Svg" />
                    </a>
                </li>

                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Thanksgiving</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Turkey.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Turkey.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Pumpkin.Svg" target"_blank">
                        <img style="Text-align: center; height:80px; width: 80px;" src="~/Content/Svg/Site/Pumpkin.svg" />
                    </a>
                </li>

                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Christmas</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Santa2.Svg" target"_blank">
                        <img style="Text-align: center; height:100px; width: 100px;" src="~/Content/Svg/Site/Santa2.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Santa1.Svg" target"_blank">
                        <img style="Text-align: center; height:100px; width: 100px;" src="~/Content/Svg/Site/Santa1.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Elf1.Svg" target"_blank">
                        <img style="Text-align: center; height:100px; width: 100px;" src="~/Content/Svg/Site/Elf1.Svg" />
                    </a>
                    <a class="nav-link" href="../Content/Svg/Site/Elf2.Svg" target"_blank">
                        <img style="Text-align: center; height:100px; width: 100px;" src="~/Content/Svg/Site/Elf2.Svg" />
                    </a>
                </li>

            </ul>
        </div>

        <!-- Svg Scenes -->
        <div Class="my-menu-module-custom" style="padding:15px 0 15px 0;">
            <h6 class="my-menu-header-custom">Svg Scenes</h6>
            <ul>

                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Dark Side</h5>
                    <a class="nav-link" href="../Content/Svg/Site/The_Dark_Side_Of_The_Moon.Svg" target"_blank">
                        <img style="Text-align: center; height:500px; width: 500px;" src="~/Content/Svg/Site/The_Dark_Side_Of_The_Moon.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Dark Side Jagged</h5>
                    <a class="nav-link" href="../Content/Svg/Site/The_Dark_Side_Of_The_Moon_Jagged.Svg" target"_blank">
                        <img style="Text-align: center; height:500px; width: 500px;" src="~/Content/Svg/Site/The_Dark_Side_Of_The_Moon_Jagged.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Snowman Scene</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Snowman_Scene.Svg" target"_blank">
                        <img style="Text-align: center; height:500px; width: 500px;" src="~/Content/Svg/Site/Snowman_Scene.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Santa Scenes</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Santa-tg.Svg" target"_blank">
                        <img style="Text-align: center; height:600px; width: 600px;" src="~/Content/Svg/Site/Santa-tg.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <a class="nav-link" href="../Content/Svg/Site/Christmas.Svg" target"_blank">
                        <img style="Text-align: center; height:600px; width: 600px;" src="~/Content/Svg/Site/Christmas.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Blue Wave</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Election2018_sm.Svg" target"_blank">
                        <img style="Text-align: center; height:600px; width: 600px;" src="~/Content/Svg/Site/Election2018_sm.Svg" />
                    </a>
                </li>
                <li class="my-menu-item-custom">
                    <h5 style="color: burlywood; padding: 0 0 0 15px;">Fishy Elections</h5>
                    <a class="nav-link" href="../Content/Svg/Site/Election2018_lg.Svg" target"_blank">
                        <img style="height:150px; width:300px;" src="~/Content/Svg/Site/Election2018_lg.Svg" />
                    </a>
                </li>
            </ul>
        </div>       

    </div>
</div>